.nav-bar {
  background-color: #0288D1;
  color: white;
}

.nav-bar .logo {
  margin-left: 20px;
}

.nav-bar .item {
  margin-right: 20px;
}

/* Toast Message */

.toast-success {
  background-color: #4caf50 !important;
  color: White;
}

.toast-warning {
  
}

.toast-error {

}

/* Toast Position */
@media (min-width: 993px) {
    #toast-container {
      top: 80%;
      right: 45%;
    }
}
