
<div class="container">
  <div class="row">
    <div class="col l12">

      <div class="card">

        <div class="card-content">

          <span class="card-title">
            Inventario
            <a mz-button [flat] = "true" (click) = "crearNuevoUsuario()" class="right"><i class="material-icons black-text">add</i></a>
          </span>

        <table datatable [dtOptions] = "dtOptions" [dtTrigger] = "dtTrigger" class="row-border hover">
          <thead>
            <tr>
                <th>id</th>
                <th>Item</th>
                <th>Departamento</th>
                <th>Cantidad</th>
                <th>Accion</th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let item of inventario">
                <td>{{ item.id }}</td>
                <td>{{ item.item }}</td>
                <td>{{ item.catalogo.catalogo }}</td>
                <td>{{ item.cantidad }}</td>
                <td><a id = "{{item.id}}" mz-button [flat] = "true" (click) = "eliminarProducto($event)"><i class="material-icons">delete</i></a></td>
              </tr>
          </tbody>

        </table>

        </div>

      </div>

    </div>
  </div>
</div>
