
<div class="container">
  <div class="row">
    <div class="col l12">

      <div class="card">

        <div class="card-content">

          <span class="card-title">
            Inventario
            <a class="right"><i class="material-icons black-text">add</i></a>
          </span>

        <table class="striped">
          <thead>
            <tr>
                <th>id</th>
                <th>Item</th>
                <th>Departamento</th>
                <th>Cantidad</th>
                <th>Accion</th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let item of inventario">
                <td>{{ item.id }}</td>
                <td>{{ item.item }}</td>
                <td>{{ item.catalogo.catalogo }}</td>
                <td>{{ item.cantidad }}</td>
                <td>Editar</td>
              </tr>
          </tbody>

        </table>

        </div>

      </div>

    </div>
  </div>
</div>

<!-- NuevoUsuarioModal -->
<!-- <nuevousuario-modal></nuevousuario-modal> -->
